* {
  box-sizing: border-box;
  font-family: 'Joan', serif;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}
/* linear gradient rgb(52, 100, 30)*/ 
.grad{
background: -webkit-linear-gradient( rgb(222, 227, 220),rgba(133, 167, 39, 0.776));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* video*/
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
  
  /*for nav bar*/

  .navigation{
    padding-top:30px;
    padding-bottom:20px;
    position:absolute;
    top:0;
    width:100%;
    z-index:1;
    background-color: rgba(0,0,0,0.3); /** Change value according to you transperncy**/
  }
  
  .navbar-right{
    float:right;
    padding-right:10%;
  }
  
  .navbar-right a{
    text-decoration:none;
    padding:10px;
    color: #fff;
    font-weight:900;
  }
  
  .navbar-right a:hover{
    text-decoration: none;
    color: rgb(105, 202, 224);
    padding: 30px;
  }
  .navbar-logo{
    padding-left:10%;
    font-size:30px;
    font-weight:bold;
    text-decoration:none;
    color:#fff; 
  }

/* dropdpwn*/
.dropbtn {

  background-color: transparent;
  color: white;
  padding: 16px;

  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: tra;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover{

  background: #dc3545;
  color: white;
}
.dropdown:hover .dropbtn {
  text-decoration: none;
  color: rgb(105, 202, 224);
  padding: 30px;}

/* css animation*/

